/cmake-build-debug/
/cmake-build-release/
/.idea/
src/wasm/ulang.js
src/wasm/ulang.wasm
wasm/node_modules
wasm/ulang-site/dist
wasm/ulang-vm/dist
wasm/ulang-site/tsconfig.tsbuildinfo
wasm/ulang-vm/tsconfig.tsbuildinfo
wasm/ulang-vm/src/ulang.js
wasm/ulang-vm/src/ulang.wasm
wasm/ulang-site/assets/js/ulang.wasm
