* {
	box-sizing: border-box;
	font-family: Menlo, Monaco, "Courier New", monospace;
}

body {
	margin: 0;
	height: 100vh;		
	font-size: 16px;
	color: #cccccc;
	background: #1c1c1c;
}

a {
	text-decoration: none;
	color: #88d184;
}

.hide {
	display: none !important;
}

.left {
	margin-left: auto !important;
}

.main {
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;	
}

.logo {
	color: #ccc;
	text-decoration: none;
	padding: 0em 1em;
	line-height: 2em;
}

.toolbar {
	vertical-align: middle;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 2em;
	background: #1c1c1c;
	box-shadow: 0px 0px 10px black;
	z-index: 100;
}

.toolbar-button {
	width: 32px;
	height: 32px;
	background-size: 16px;
	background-position: 50%;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	opacity: 1;
	margin: 0;
	vertical-align: middle;
	line-height: 2em;;	
}

.toolbar-button-disabled {
	filter: grayscale(100%);
	cursor: default;
	opacity: 0.4;
	background-position: 50% !important;
	pointer-events: none;
}

.toolbar-button:active {
	background-position: 60% 60%;	
}

.toolbar-avatar {
	padding-top: 0.2em;
	width: 1.8em;
	height: 1.8em;
	vertical-align: middle;	
	border-radius: 50%;
	cursor: pointer;	
}

.toolbar-separator {
	width: 1px;
	height: 1.5em;	
	margin: auto;
	vertical-align: middle;
	border-left: 1px solid #3f3f3f;
}

.toolbar-filler {
	flex-grow: 1;
}

.toolbar-spacer {
	width: 0.5em;
	height: 2em;
}

.toolbar-label {
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	margin: auto;	
	font-size: 14px;
}

#toolbar-title {
	height: 1.6em;
	line-height: 1.6em;
	margin-top: auto;
	margin-bottom: auto;	
}

.no-icon {
	width: auto;
	height: auto;
	padding: 0em 0.5em;
	flex-grow: 0;
}

.no-icon:hover {
	color: #88d184;
}

.no-icon:active {
	padding-top: 0.1em;
}

input {
	background: #1a1a1a;
    color: #ccc;
    border-style: groove;
	border-color: #333;
	outline: 0;
}
input:focus {
	border-color: #666;
	outline: 0;
}
select {
	background: #1a1a1a;
    color: #ccc;
    border-style: groove;
}

.dialog {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
	background-color: #1a1a1a;
  	margin: 2em auto;
  	padding: 1em;  	
  	width: 400px;
	box-shadow: 0px 0px 10px black;
}

.dialog-header {
	font-weight: 200;
	font-size: 1.5em;
}

.button {	
	font-size: 1em;
	background: none;
	border: 1px solid #333;
	padding: 0.5em;
	margin-right: 0.4em;
	color: #ccc;
	cursor: pointer;	
}

.button:hover {
	border-color: #666;	
}

.big-button {
	font-size: 1.5em;
	background: #1c1c1c;
}