* {
	box-sizing: border-box;
	font-family: Menlo, Monaco, "Courier New", monospace;
}

body {
	margin: 0;
	height: 100vh;
	font-size: 16px;
	color: #cccccc;
	background: #1c1c1c;
}

a {
	text-decoration: none;
	color: #88d184;
}

.hide {
	display: none !important;
}

.left {
	margin-left: auto !important;
}

.main {
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

input {
	background: #1a1a1a;
	color: #ccc;
	border-style: groove;
	border-color: #333;
	outline: 0;
}

input:focus {
	border-color: #666;
	outline: 0;
}

select {
	background: #1a1a1a;
	color: #ccc;
	border-style: groove;
}

.button {
	display: inline-block;
	border: 1px solid #333;
	padding: 0.5em;
	margin-right: 0.4em;
	background: none;
	border: 1px solid #ccc;
	color: #cccccc;
	cursor: pointer;
	outline: none !important;
}

.button:hover {
	border-color: #fff;
}

.button:active {
	transform: translate(2px, 2px);
}

.big-button {
	font-size: 1.5em;
	background: #1c1c1c;
}