<a class="toolbar-logo" href="/">µlang</a>
<div class="toolbar-editor hide">
	<div class="toolbar-separator"></div>
	<div class="toolbar-button icon-run" id="toolbar-run"></div>
	<div class="toolbar-button icon-continue" id="toolbar-continue"></div>
	<div class="toolbar-button icon-pause" id="toolbar-pause"></div>
	<div class="toolbar-button icon-step" id="toolbar-step"></div>
	<div class="toolbar-button icon-stop" id="toolbar-stop"></div>
	<div class="toolbar-separator"></div>
	<div class="toolbar-spacer"></div>
	<div class="toolbar-button icon-new" id="toolbar-new"></div>
	<div class="toolbar-button icon-save" id="toolbar-save"></div>
	<div class="toolbar-button icon-download" id="toolbar-download"></div>
	<div class="toolbar-spacer"></div>
	<input id="toolbar-title" type="text">
	<div class="toolbar-spacer"></div>
	<div class="toolbar-label" style="font-size: 10px;" id="toolbar-unsaved"></div>
	<div class="toolbar-spacer"></div>
	<div class="toolbar-label" id="toolbar-author"></div>
	<div class="toolbar-spacer"></div>
	<div class="toolbar-label" id="toolbar-forked-from"></div>
</div>
<div class="toolbar-filler"></div>
<img class="toolbar-avatar left hide" id="toolbar-avatar"></img>
<div class="toolbar-button no-icon left hide" id="toolbar-login">Login</div>
<div class="toolbar-button no-icon left hide" id="toolbar-logout">Logout</div>