<a class="toolbar-logo" href="/">µlang</a>
<div class="toolbar-editor hide">
	<div class="toolbar-separator"></div>
	<div class="toolbar-run toolbar-button icon-run"></div>
	<div class="toolbar-continue toolbar-button icon-continue"></div>
	<div class="toolbar-pause toolbar-button icon-pause"></div>
	<div class="toolbar-step toolbar-button icon-step"></div>
	<div class="toolbar-stop toolbar-button icon-stop"></div>
	<div class="toolbar-separator"></div>
	<div class="toolbar-spacer"></div>
	<div class="toolbar-new toolbar-button icon-new"></div>
	<div class="toolbar-save toolbar-button icon-save"></div>
	<div class="toolbar-screenshot toolbar-button icon-screenshot"></div>
	<div class="toolbar-download toolbar-button icon-download"></div>
	<div class="toolbar-spacer"></div>
	<input class="toolbar-title" type="text">
	<div class="toolbar-spacer"></div>
	<div class="toolbar-unsaved toolbar-label" style="font-size: 10px;"></div>
	<div class="toolbar-spacer"></div>
	<div class="toolbar-author toolbar-label"></div>
	<div class="toolbar-spacer"></div>
	<div class="toolbar-forked-from toolbar-label"></div>
</div>
<div class="toolbar-filler"></div>
<img class="toolbar-avatar toolbar-avatar left hide"></img>
<div class="toolbar-login toolbar-button no-icon left hide">Login</div>
<div class="toolbar-logout toolbar-button no-icon left hide">Logout</div>