.user-project {
	display: flex;
	flex-direction: row;
	margin-bottom: 2em;
}

.user-project-thumb {
	width: 160px;
	height: 120px;
	image-rendering: pixelated;
	background: black;
}

.user-project-thumb-link {
	min-width: 160px;
	min-height: 120px;
	background: black;
}

.user-project-details {
	width: 120px;
	padding-left: 1em;
	width: 100%;
}

.user-project-details>* {
	margin-bottom: 0.5em;
}

.user-project-details>a {
	display: inline-block;
}

.user-project-details>button {
	flex-shrink: 1;
}

.user-project-title {
	font-size: 1.0em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}