.user-project {
	display: inline-block;
	margin: 0.5em;
	cursor: pointer;
}

.user-project-thumb {
	width: 160px;
	height: 120px;
	image-rendering: pixelated;
}

.user-project-details {
	display: flex;
	flex-direction: column;
	width: 120px;
}

.user-project-title {
	font-size: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}